.w-100 {
    width: 100%;
}
.h-500px {
    height: 500px;
}
.bg-gray {
    background-color: gray;
}
.d-flex {
    display: flex;
}
.w-250px {
    width: 250px;
}
.h-200px {
    height: 200px;
}
.bg-green {
    background-color: green;
}
.m-10px {
    margin: 10px;
}
#container {
    flex-flow: row nowrap;
}