.mt-50px {
    margin-top: 50px;
}
.ml-50px {
    margin-left: :50px;
}
.mr-50px {
    margin-right: 50px;
}
.d-inline-block {
    display: inline-block;
}
.bg-green {
    background-color: green;
}
.w-250px {
    width: 250px;
}
.h-200px {
    height: 200px;
}
.border {
    border: 1px solid red;
    border-radius: 10px;
}
.w-500px {
    width: 500px;
}
.bg-yellow {
    background-color: yellow;
}
.p-100px {
    padding: 100px;
}
